@import "partials/reset";

@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import "partials/variables";
@import "partials/fonts";
@import "partials/footer";
@import "partials/header";
@import "partials/landing";
@import "partials/player";

body {
  background: url("../images/bluetile.png");
  background-repeat: repeat;
  background-size: cover;
  font-family: "BebasNeue";
  color: $off-white;
} // }

// /* Style for our header texts
// 	* --------------------------------------- */

// .intro p {
//   color: #fff;
// }
// /* Centered texts in each section
// 	* --------------------------------------- */
// .section {
//   text-align: center;
// }
