#landing {
  background: url("../images/alonetogether.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(6px) contrast(0.8);
  padding: 2rem;

  // .presents {
  // 	width: 100%;
  // 	height: auto;
  // 	margin-top: -100px;
  // 	margin-left: 5%;
  // 	h3 {
  // 		font-size: 2.8rem;
  // 		padding: 0 15px;
  // 	}
  // }

  .presents {

    h1,
    h2,
    h3 {
      color: $off-white;
      padding: 10px;
    }

    h1 {
      font-size: 9rem;
      font-weight: 300;
    }

    h2 {
      font-size: 9rem;
    }

    width: 100%;
    height: 40%;
    align-content: right;
    display: flex;
    justify-content: right;
    flex-direction: column;
    text-align: right;
  }

  .performs {
    font-size: 4rem;
    width: 96%;
    text-align: right;
    padding: 1rem;
    margin-left: 1.3rem;
  }

  .track-title {
    margin-left: 1rem;
  }

  .landing-list {
    color: $off-white-transparent;
    width: 100%;

    text-align: right;

    li {
      display: inline;
      font-size: 3rem;
      padding: 1.6rem;

      a {
        cursor: pointer;
        color: $off-white-transparent;
      }

      a:hover {
        color: $off-white;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  #landing {
    .presents {
      height: 30%;

      h1 {
        font-size: 7rem;
        padding: 0;
        margin: 0;
      }

      h2 {
        font-size: 7rem;
      }

      h3 {
        font-size: 3rem;
      }

      display: flex;
      justify-content: space-around;
      flex-direction: column;
      text-align: right;

      h1,
      h2,
      h3 {
        margin: 0 auto;
        text-align: right;
      }

      h1 {
        padding: 0;
        margin: 0;
      }

      .landing-list {

        width: 100%;
        color: $off-white-transparent;

        text-align: center;

        li {
          display: inline;
          font-size: 3rem;
          padding: 1.6rem;
        }
      }

      .performs {
        font-size: 3rem;
        width: 98%;
        text-align: right;
        margin-left: 0;
        padding: .05rem;
      }

      .track-title {
        margin-left: 0;
        padding: 0;
        text-align: right;
      }
    }


  }
}

@media only screen and (max-width: 350px) {
  #landing {
    .presents {
      height: 30%;
      width: 98%;

      h1 {
        font-size: 5rem;
        padding: 0;
        margin: 0;
      }

      h2 {
        font-size: 5rem;
      }

      h3 {
        font-size: 2rem;
        text-align: right;
      }

      display: flex;
      justify-content: space-around;
      flex-direction: column;
      text-align: right;

      h1,
      h2,
      h3 {
        margin: 0 auto;
        padding-right: 1rem;
        text-align: right;
      }

      h1 {
        padding: 0;
        margin: 0;
      }

      .landing-list {

        width: 100%;
        color: $off-white-transparent;

        text-align: center;

        li {
          display: inline;
          font-size: 3rem;
          padding: 1.6rem;
        }
      }

      .performs {
        font-size: 2rem;
        width: 98%;
        text-align: right;
        margin-left: 0;
        padding: .05rem;
      }

      .track-title {
        margin-left: 0;
        padding: 0;
      }
    }


  }
}